<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% if env == 'production' %}
    <!-- capture the CSS content as a Liquid variable -->
    {% set css %}{% include "app.compiled.css" %}{% endset %}
    <style>
    {{ css | safe }}
    </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
